<!-- your html code here -->
<div class="container container-fluid mt-5 ">
    <h3>Contact</h3>
    <p class="lead">Pellentesque gravida viverra ante, ut facilisis leo porta in. Nunc interdum a nulla id molestie.
        Pellentesque eget sagittis lorem.
        Nullam luctus, neque congue porttitor dignissim, arcu tellus dapibus risus, eu facilisis dolor dolor at tellus.
    </p>
    <div id="formBox">
        <h6 id="email"><strong>Your e-mail</strong></h6>
        <h6 id="msg"><strong>Your message</strong></h6>
        <form class="bg-light border">
            <div id="bar1" class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div id="bar2" class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
            </div>
            <button id="submitFooter" type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>
</div>