<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img id="img-tagline" src="../assets/img/bg.jpg" alt="image">
        <div class="container mt-3">
          <h1 class="display-4 text-dark bg-white text-center">One Page Wonder</h1>
          <p class="lead text-dark bg-white text-center">Will Knock Your Socks Off</p>
        </div>
      </div>
</body>
</html>
